body {
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
	color: #212529;
	font-family: 'Overpass', sans-serif;
}

.navbar{
	background-color: #9bbfcc;
	font-size: 1.6em;
	letter-spacing: .2rem;
	color:white;
}

.titres{
	text-align: center;
	padding-top: 50px;
    padding-bottom: 50px;
    letter-spacing: 3px;
}

.slider {
    margin-left:auto;
    margin-right:auto;
}

.description {
	font-size:22px;
}