body{
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
	color: #212529;
	font-family: 'Overpass', sans-serif;
}



.navbar{
	background-color: #9bbfcc;
	font-size: 1.6em;
	letter-spacing: .2rem;
	color:white;
}

.head{
	text-align: justify;
}

.titres{
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
	letter-spacing: 3px;
}

.slider{
	margin-left:auto;
	margin-right:auto;
}

.description{
	font-size:22px;
}

#super-footer{
    background:#1e4367;
    bottom: 0;
    position: relative;
    width: 100%;
}

.super-container{
    flex-direction: row;
    justify-content: space-between;
    padding-right: 10%;
    padding-left: 10%;
}

.super-footer-row{
    align-items: center;
}

.super-footer-row p {
	font-size: 25px
	padding-top: 50px;

}

.icones{
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.icons img{
	margin-left: 15px;
    height: 60px;
    width: 60px;
}

#footer-links{
	padding-top: 50px;
}

.footer-copyright{
	background-color: #FFDE5E;
}

@media screen and (min-width: 200px) and (max-width: 640px) {
  .icones{

	justify-content: flex-end;
  }
}

h1{
	text-align: center;
}



.container{
	padding: 10px;
	display: flex;
	flex-direction: column;
	padding-right: 150px; 
	padding-left: 150px;
}

/*-- ABOUT - ME CONCERNANT ---*/

hr{
	margin-right: 150px; 
	margin-left: 150px;
}

.featurette-heading{
	font-size: 1.8em;
	padding-top: 10px;
}

#apropos{
	padding-top: 10px; 
}

#photoswildo{
	padding-top: 20px;
}

.card-img-top{
	border-radius: 5px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin-bottom: 15px;
}

.featurette-image{
	border-style: solid;
	border-color: #ffde5e;
	border-radius: 50%;
	border-width: 10px;
	width: 100%;
	display: flex;
	align-items: center;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#gallery{
	flex-wrap: wrap;
	padding: 20px;
	margin-bottom: 20px;
}

@media screen and (min-width: 200px) and (max-width: 900px){
	#apropos > .texteabout{
		font-size: 0.7em;
	}
	#apropos > .featurette-heading{
		font-size: 0.9em;
	}
	.container{
		padding-right: 10px; 
		padding-left: 10px;
	}
}

@media screen and (min-width:900px) and (max-width:1000px){
	#apropos > .texteabout{
		font-size: 0.9em;
	}

	.container{
		padding-right: 10px; 
		padding-left: 10px;
	}
}